.navbar{
    background-color: #01403A;
    color: #ffffff;
}
.navbar-brand{
    color: #ffffff;
    font-size: medium;
   margin: 15%;
}
.navbar-brand:hover{
    color: #038C7F;
}
.nav2{
    text-align: left;
}